.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: 700;
  font-size: 1.125rem;
  width: fit-content;
}

.label {
  padding-top: 1rem;
}

.selectContainer {
  background-color: var(--primary-red);
  color: white;
  width: 10rem;
  border-radius: 0.3125rem;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 0.5rem;
  height: 4.3rem;
}

.customArrow {
  width: 2rem;
  height: 2rem;
}

.arrowOpen {
  transform: rotate(180deg);
}

.optionsList {
  width: 100%;
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.option {
  height: 3.5rem;
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  cursor: pointer;
}