:root {
  --select-max-height: 4.3rem;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: 700;
  font-size: 1.125rem;
  width: fit-content;
  overflow: visible;
}

.label {
  padding-top: 1rem;
}

.selectContainer {
  background-color: var(--primary-red);
  color: white;
  width: 10rem;
  position: relative;
  height: var(--select-max-height);
  border-radius: 0.3125rem;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 0.5rem;
  height: 100%;
}

.customArrow {
  width: 2rem;
  height: 2rem;
}

.openSelect {
  border-radius: 0.3125rem 0.3125rem 0 0;
}

.arrowOpen {
  transform: rotate(180deg);
}

.optionsList {
  width: 100%;
  list-style: none;
  position: absolute;
  top: 100%;
  z-index: 100;
  background-color: var(--primary-red);
  border-radius:  0 0 0.3125rem 0.3125rem;
}

.option {
  height: 3.5rem;
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}

.activeOption {
  background-color: var(--secondary-orange);
}