.container {
  width: 350px;
}

.mediaContainer {
  width: 350px;
  height: 300px;
  overflow: hidden;
}

.photo {
  object-fit: cover;
  aspect-ratio: calc(350 / 300);
  border-radius: 5px;
  cursor: pointer;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: var(--primary-red);
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}