:root {
  --max-lightbox-height: 95dvh;
  --title-offset: 5rem;
}

.lightBoxModal {
  max-width: 156rem;
  width: fit-content;
  max-height: var(--max-lightbox-height);
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
}

.button {
  padding: 0 1.5rem 0 1.5rem;
}

.title {
  color: var(--primary-red);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.imageContainer {
  margin: auto;
}

.image {
  object-fit: cover;
  width: auto;
  max-height: calc(var(--max-lightbox-height) - var(--title-offset));
}

.video {
  width: auto;
  max-height: calc(var(--max-lightbox-height) - var(--title-offset));
}