.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link h2 {
  color: var(--primary-orange);
  font-size: 2.25rem;
}

.location {
  color: var(--primary-red);
  font-size: 0.8rem;
}

.tagline {
  font-size: 0.7rem;
}

.price {
  font-size: 0.6rem;
  color: #757575;
}