.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link h2 {
  color: var(--primary-orange);
  font-size: 36px;
}

.location {
  color: var(--primary-red);
  font-size: 13px;
}

.tagline {
  font-size: 10px;
}

.price {
  font-size: 9px;
  color: #757575;
}