.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.title {
  font-weight: 400;
  color: var(--primary-red);
  font-size: 36px;
}