.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.title {
  font-weight: 400;
  color: var(--primary-red);
  font-size: 2.25rem;
}