.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  background-color: var(--secondary-light-grey);
}

.name {
  font-size: 4rem;
  color: var(--primary-orange);
}

.location {
  font-size: 1.5rem;
  color: var(--primary-red);
}

.tagline {
  color: var(--secondary-grey);
  font-size: 1.125rem;
}