.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  column-gap: clamp(4rem, 10vw, 10rem);
  row-gap: 5rem;
  margin-top: 3rem;
  justify-items: center;
  list-style: none;
}