.container {
  --summary-height: 4rem;
  --site-max-width: 1440px;
  --offset-out: 0rem;

  position: fixed;
  height: var(--summary-height);
  width: 23.5rem;

  background-color: var(--secondary-orange);
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.3125rem 0.3125rem 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem 0 2rem;

  top: calc(100dvh - var(--summary-height));
  right: calc(50% - (var(--site-max-width) / 2) + var(--offset-out));
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1500px) {
  .container {
    right: 2rem;
  }
}